.membersWrap-3NUR2t {
    transition-duration: var(--transition-time);
    min-width: unset;
    justify-content: unset;
    width: var(--hidden-user-width);
}

.membersWrap-3NUR2t:hover {
    width: var(--user-width);
}

/* Hide the "Hide Member List" button, since yes :) */
.toolbar-3_r2xA>.iconWrapper-2awDjA.selected-29KTGM[aria-label="Hide Member List"] {
    display: none;
}
